
*.project

*.settings/

*.classpath

*.class

*/.settings/*

*/target/
target/*
.svn/
*/.svn/
*/*/.svn/
*/*/*/.svn/
*/*/*/*/.svn/
*/*/*/*/*/.svn/
*/*/*/*/*/*/.svn/

tedis-group/diamond_config_data.log
